<?xml version="1.0"?>
<configuration>
  <configSections>
    
  </configSections>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="no-reply.hms@servio.support">
        <network host="smtp2.servio.support" port="25" userName="no-reply.hms@servio.support" password="Servio_5370168_HMS" />
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="ServerDescription" value="56.1"/>
    <add key="ErrorMailTo" value="no-reply.hms@servio.support"/>
    <add key="BackupFolder" value="d:\Backup"/>
    <add key="BackupFolderUserName" value=""/>
    <add key="BackupFolderUserDomain" value=""/>
    <add key="BackupFolderUserPassword" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
